@import '../../sass/utils/functions';

.header {
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  background-color: getColor(bgHeader);
  z-index: 1100;
}

.navLink {
  padding: 4px 12px 4px 12px;
  font-size: getFontSize(norm);
  font-weight: getFontWeight(semibold);
  color: getColor(navHeader);
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:hover:not(.activeLink),
.navLink:focus-visible:not(.activeLink) {
  color: getColor(accent);
  background-color: getColor(bgNavActive);
  border-color: getColor(primary);
}

.activeLink {
  color: getColor(accent);
}
