@import '../../sass/utils/functions';

.selectBox {
  display: block;
  width: 160px;
}

.selectTitle {
  margin-bottom: 8px;
  font-size: getFontSize(med);
  font-weight: getFontWeight(medium);
  line-height: 18px;
  color: #8a8a89;
}

.selectWrapper {
  border-radius: 12px;
  background: #f7f7fb;
  overflow: hidden;
}

.selectInput {
  padding: 12px;
  width: 180px;
  font-size: getFontSize(norm);
  line-height: 20px;
  color: getColor(secondory);
  background: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
