.selectBox {
  display: block;
  width: 160px;
}

.selectTitle {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #8a8a89;
}

.selectWrapper {
  border-radius: 12px;
  background: #f7f7fb;
  overflow: hidden;
}

.selectInput {
  padding: 12px;
  width: 180px;
  font-size: 18px;
  line-height: 20px;
  color: #121417;
  background: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
