.filters {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 50px;
}

.btnFilter {
  margin: 0;
  width: 160px;
}

.notFound {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #121417;
}
