@import '../../sass/utils/functions';

.page {
  width: 100vw;
  height: calc(100vh - 60px);
  background-image: url('assets/images/home_m.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding: 100px 15px 0;
  font-size: getFontSize(big);
  font-weight: getFontWeight(semibold);
  color: getColor(defWhite);
  text-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);
  text-align: center;

  @media screen and (max-height: 768px) and (orientation: landscape) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 40px;
    font-size: getFontSize(mega);
  }
}

.subtitle {
  margin: 0 auto;
  padding: 15px 15px 0;
  max-width: 620px;
  font-size: getFontSize(med);
  font-weight: getFontWeight(medium);
  text-align: center;

  @media screen and (max-height: 680px) and (orientation: landscape) {
    background: getColor(defBlack);
    background: radial-gradient(
      circle farthest-corner at center center,
      getColor(defBlack) 29%,
      getColor(defWhite) 36%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 1024px) {
    font-size: getFontSize(norm);
  }
}
